<footer class="footer">
  <div class="footer-container">
    <div class="footer-row">
      <span>© 2025 Airbnb, Inc.</span>
      <span><a href="/privacy">Privacy</a></span>
      <span>·</span>
      <span><a href="#">Terms</a></span>
      <span>·</span>
      <span><a href="#">Sitemap</a></span>
      <span>·</span>
      <span><a href="#">Company details</a></span>
      <span>·</span>
    </div>
    <div class="footer-row2">
      <span><i class="fa-light fa-globe"></i>English(IN)</span>
      <span>&#8377 INR</span>
      <i class="fa-brands fa-facebook fa-light"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </div>
</footer>
