* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  display: flex;
  color: #222222;
  flex-direction: column;
  min-height: 100vh;
  padding: 0rem 2rem;
}

main {
  flex: 1;
}

/* navbar section */
.navbar {
  background-color: #fff;
  height: 5rem;
}

.fa-airbnb {
  font-size: 2rem;
}
.navbar-brand {
  color: #ff5a5f !important;
  font-size: 1.5rem;
}
.navbar-nav {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  border-radius: 1rem;
  border: 1px solid #222222;
}
.custom-toggler {
  border: 2px solid #ff5a5f;
}
.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
}
.navbar-collapse {
  background-color: #f8f9fa;
}

/* home section */
.card {
  border: none;
}
.home-card img {
  object-fit: cover;
  height: 200px;
  border-radius: 0.75rem !important;
}
.card-body {
  padding: 0 !important;
}

.card-body a {
  text-decoration: none;
  color: #222222;
}

.card-text {
  margin: 0;
}

.add-btn,
.edit-btn,
.dlt-btn {
  background-color: #ff5a5f;
  border: none;
}

/* show-section */
.show-card img {
  object-fit: cover;
  height: 300px;
  border-radius: 1rem;
}

/* footer section */
.footer {
  height: 80px;
  padding: 2rem 0rem;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-row,
.footer-row2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.footer-row a {
  text-decoration: none;
  color: #222222;
}
.footer-row a:hover {
  text-decoration: underline;
}
